<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGIA-Categorías</title>
    <link href="../public/css/styles.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    <!-- Botón para regresar al index principal -->
    <a href="/" class="btn btn-primary mt-3 btn-return">
        <span class="material-symbols-outlined icon-home">
            home
        </span>
        Regresar
    </a>

    <div class="container">
        <h1 class="mt-5">Categorías</h1>

        <!-- Formulario para agregar categoría -->
        <form action="/categories" method="post" class="mb-5">
            <div class="form-group">
                <label for="name"> Nombre de la Categoría</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Categoría</button>
        </form>

        <h2>Categorías Existentes</h2>
        <ul class="list-group">
            <% categories.forEach(function(category) { %>
                <li class="list-group-item">
                    <strong><%= category.id %> | <%= category.name %></strong> - <%= category.description %>
                    <div>
                        <a href="/categories/<%= category.id %>/edit" class="btn btn-warning btn-sm">Editar</a>
                        <form action="/categories/<%= category.id %>" method="post" class="d-inline">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </div>
                </li>
            <% }); %>
        </ul>   


    </div>

    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>